div.sk_medium_publication_feed_grid-content{
    background-color: rgb(255, 255, 255) !important;
    box-shadow: none !important;
   overflow: hidden !important;
   position:  relative !important;
    height: 100% !important;
}
img.sk-post-image{
width: 100% !important;
height: 60% !important ;
object-fit: cover !important;
}
div.medium_publication_post_title{
    font-family: 'DM Sans' !important;
    text-transform: uppercase !important;
    padding-top: 20px !important;
    font-weight: 500 !important;
    font-size: 18 !important;
}
a.sk_creator_link{
    color: #565656 !important;
}
div.medium_publication_post_creator{
    font-family: 'DM Sans' !important;
    text-transform: uppercase !important;
    color: #565656 !important;
}
h2{
    font-size: 30px !important;
    text-transform: uppercase !important;
    font-family: 'DM Sans' !important;
    padding: 5% 0%;
    text-align: center  ;
}
p{
    font-family: 'DM Sans' !important;
}